<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Account.Data.Properties.Settings.bbHomeConnectionString"
            connectionString="Data Source=10.0.0.9;Initial Catalog=bbHome;User ID=sa;Password=!@#qweasdzxc"
            providerName="System.Data.SqlClient" />
        <add name="Account.Data.Properties.Settings.bbHomeConnectionString1"
            connectionString="Data Source=10.0.0.9;Initial Catalog=bbHome;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Account.Data.Properties.Settings.bbHomeConnectionString2"
            connectionString="Data Source=192.168.100.233;Initial Catalog=BbHome;Persist Security Info=True;User ID=sa;Password=Holyca20110902"
            providerName="System.Data.SqlClient" /> 
    </connectionStrings>
</configuration>