<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="WcfAccount.Settings1.bbHomeConnectionString" connectionString="Data Source=10.0.0.9;Initial Catalog=bbHome;Persist Security Info=True;User ID=sa;Password=!@#qweasdzxc"
      providerName="" />
  </connectionStrings>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWcfAccountService"  maxReceivedMessageSize="20971510">
          <readerQuotas maxStringContentLength="20971510" maxArrayLength="20971510"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="WcfAccount.AccountServiceBehavior"
        name="WcfAccount.AccountService">
        <endpoint address="" binding="wsHttpBinding"  bindingConfiguration="WSHttpBinding_IWcfAccountService" contract="WcfAccount.IAccountService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/WcfAccount/AccountService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcfAccount.AccountScurityServiceBehavior"
        name="WcfAccount.AccountScurityService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfAccount.IAccountScurityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/WcfAccount/AccountScurityService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfAccount.AccountServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="WcfAccount.AccountScurityServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
