<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Account.Business.Properties.Settings.bbHomeConnectionString1"
            connectionString="Data Source=10.0.5.247;Initial Catalog=bbHome;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>